[submodule "src/rosbridge_suite"]
	path = src/rosbridge_suite
	url = https://github.com/ken20020209/rosbridge_suite
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/ken20020209/slam_toolbox.git
	branch = foxy-devel
